body.audience.has-wallpaper:not(.loading){
    background-image: none;
}
.fullscreen-button {
    position: fixed;
    bottom: 1em;
    left: 25%;
    width: 50%;
    height: 4em;
    line-height: 4em;
    background-color: gray;
    color: black;
    border-radius: 3em;
    cursor: pointer;
    text-align: center;
}

.wallpaper {
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 0;
    background-position: center;
    background-repeat: no-repeat;
}

.wallpaper img {
    width: 100%;
    height: 100%;
    display: none;
}

.wallpaper.center {
    background-position: 50% 50%;

    img,
    video {
        position: absolute;
        width: auto;
        height: auto;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
    }
}

.wallpaper.cover {
    background-size: cover;

    video {
        object-fit: cover;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
    }
}

.wallpaper.contain {
    background-size: contain;

    video {
        object-fit: contain;
        height: 100%;
        width: 100%;
    }
}

.wallpaper.tile {
    background-position: 0 0;
    background-repeat: repeat;

    video {
        // video tile is not supported - there is no CSS feature for this effect
        position: absolute;
        width: auto;
        height: auto;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;

    }
}

.wallpaper.stretch {
    background-position: 0 0;
    background-size: 100% 100%;

    video {
        object-fit: fill;
        height: 100%;
        width: 100%;
    }
}

.audience-slide {
    position: relative;
}

.audience-slide-type {
    display: inline-block;
    width: auto !important;
    max-width: 20%;
}

