.fullscreen-button {
    position: fixed;
    bottom: 1em;
    left: 25%;
    width: 50%;
    height: 4em;
    line-height: 4em;
    background-color: gray;
    color: black;
    border-radius: 3em;
    cursor: pointer;
    text-align: center;
}