---
import GasLayout from "../layouts/gas.astro";
import "../styles/variables.scss";

const pageUrl = import.meta.url;

const importMeta = JSON.stringify(import.meta.glob);

---

<style>
    .screen {
        box-sizing: border-box;
        padding: 3%;
        cursor: pointer;
        background-color: hsla(50, 66%, 95%, 75%);
        border-radius: 5%;
        text-align: center;
    }
    .screen img {
        width: 100%;
    }
    .subtitle {
        font-size: 2em;
        text-align: center;
    }
</style>

<GasLayout>

    <p class="subtitle">What is your role in the assembly today?</p>

    <div class="screens grid justify-content-evenly">
        <div
            class="screen songleader col-12 md:col-3 my-3 lg:flex lg:flex-column-reverse"
        >
            <h2 class="m-0 md:mb-3 p-0 lg:mt-5 lg:mb-0">
                <a href="/songleader">Leader</a>
            </h2>
            <div class="text-center">
                <img
                    class="w-10 ls:w-12"
                    src="images/vecteezy_woman-singing-on-white-background-illustration_420208/zkzo_vw7h_171123-cropped-scaled.jpg"
                    alt="Song Leader"
                />
            </div>
        </div>
        <div
            class="screen projector col-12 md:col-3 my-3 lg:flex lg:flex-column-reverse text-center"
        >
            <h2 class="m-0 md:mb-3 p-0 lg:mt-5 lg:mb-0">
                <a href="/audience">Audience</a>
            </h2>
            <div class="text-center">
                <img
                    class="w-10 lg:w-12"
                    src="images/vecteezy_projector-vector-icon-sign-icon-vector-illustration-for-personal-and-commercial-use-clean-look-trendy-icon_349492/Electronic_Devices_(171)-scaled.jpg"
                    alt="Song Leader"
                />
            </div>
        </div>
        <div
            class="screen editor col-12 md:col-3 my-3 lg:flex lg:flex-column-reverse text-center"
        >
            <h2 class="m-0 md:mb-3 p-0 lg:mt-5 lg:mb-0">
                <a href="/admin/songs">Administration</a>
            </h2>
            <div class="text-center">
                <img
                    class="w-10 lg:w-12"
                    src="images/vecteezy_wireless-device-connetion-flat-style-illustration-vector-design_8608300_677/vecteezy_wireless-device-connetion-flat-style-illustration-vector-design_8608300-scaled.jpg"
                    alt="Song Leader"
                />
            </div>
        </div>
    </div>
</GasLayout>

<script>
    document.querySelectorAll(".screens .screen").forEach((screen) => {
        // make the container element a clickable link
        screen.addEventListener("click", (e) => {
            e.preventDefault();
            window.location.href =
                screen.querySelector("h2 a")?.getAttribute("href") ??
                window.location.href;
        });
    });
</script>
