---
import "../styles/gas.scss";
import "primeicons/primeicons.css";
import "/node_modules/primeflex/primeflex.css";
import "/node_modules/primeflex/themes/primeone-dark.css";
import "primereact/resources/themes/lara-light-cyan/theme.css";

import AdminHeader from "../components/AdminHeader";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>God's Assembly Songbook!</title>
        <style>
            body {
                padding-bottom: 3em;
            }
            .promotional-footer {
                position: fixed;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 3em;
                padding-left: 2em;
                border-top: solid 0.1em hsla(200, 26%, 45%, 20%);
                background-color: hsla(50, 66%, 95%, 25%);
                text-align: left;
                color: rgba(0, 0, 0, 0.6);
            }
            .promotional-footer:hover {
                color: inherit;
            }
            .promotional-footer a {
                color: inherit;
                text-decoration: none;
            }
            .promotional-footer a:hover {
                text-decoration: underline;
            }
        </style>
    </head>
    <body>
        <div class="m-3 text-left">
            <AdminHeader client:only />
            <slot />
            <div class="promotional-footer">
                <p>
                    &copy; God's Assembly Songbook - free software for church worship
                    - available at <a href="https://github.com/adonai-reigns/Gods-Assembly-Songbook/">www.github.com</a>
                </p>
            </div>
        </div>
    </body>
</html>