---
import AdminLayout from "../../layouts/admin.astro";
---

<AdminLayout>
  <ul class="menu">
    <li><a href="/admin/songs">Manage Songs</a></li>
    <li><a href="/admin/song">Create a new Song</a></li>
  </ul>
</AdminLayout>
