---
const { url } = Astro.props;
const { severity = "primary" } = Astro.props;
---

<style>
    button {
        cursor: pointer;
    }
    button a {
        text-decoration: none;
        color: inherit;
    }
</style>
<button
    aria-label={severity}
    class={`p-button p-component p-button-${severity}`}
    data-pc-name="button"
    data-pc-section="root"
>
    {
        url ? (
            <a href={url}>
                <span class="p-button-label p-c" data-pc-section="label">
                    <slot>
                        A button should have some text or nodes as content
                    </slot>
                </span>
            </a>
        ) : (
            <span class="p-button-label p-c" data-pc-section="label">
                <slot>A button should have some text or nodes as content</slot>
            </span>
        )
    }
</button>
