.wallpaper-picker {
    .tile {
        background-color: white;
        background-image: url('/images/vecteezy_camera-line-icon-studio-camera-for-photographer-outline_3567606_837/vecteezy_camera-line-icon-studio-camera-for-photographer-outline_3567606-transparent-missing-file.png');
        background-size: 70% auto;
        background-position: center;
        background-repeat: no-repeat;
        height: 30vh;
        img {
            width: auto;
            height: auto;
            max-height: 100%;
        }
    }
}