.wallpaper-picker {
    .tile {
        background-color: white;
        background-image: url('/images/vecteezy_camera-line-icon-studio-camera-for-photographer-outline_3567606_837/vecteezy_camera-line-icon-studio-camera-for-photographer-outline_3567606-transparent-missing-file.png');
        background-size: 70% auto;
        background-position: center;
        background-repeat: no-repeat;
        height: 30vh;

        img {
            width: auto;
            height: auto;
            max-height: 100%;
        }

        .preview-slide-content {
            position: absolute;
            width: 100%;
            height: 100%;

            p {
                font-size: 0.75rem;
                text-align: center;
            }
        }

        .tile-header-icon-right {
            i:hover {
                color: red;
            }
        }

        .tile-footer {

            .background-opacity-slider {
                position: absolute;
                width: 100%;
                background-color: white;
                padding: 0 1em 1em 1em;

                h3 {
                    background-color: white;
                    text-align: center;
                    margin: 0;
                    padding: 1em;
                    font-size: 0.75rem;
                    position: absolute;
                    top: -2.5rem;
                    left: 0;
                    width: 100%;
                }
            }

            >.color-picker-button {
                border-radius: 2px;
                border: solid 1px gray;
                font-weight: bold;
                background-color: inherit;
                font-size: 0.75em;
            }

        }
    }
}